<nav>
  <div class="nav-wrapper grey darken-3 col s12">
    <div class="brand-container col s3">
      <img class="logo" src="assets/images/logo.png" alt="Logo" />
      <a routerLink="/" class="brand-name"> Snack Underflow </a>
    </div>
    <form
      class="input-form hide-on-small-only"
      (ngSubmit)="handleSubmit($event)"
    >
      <div class="input-field">
        <input
          id="search"
          type="search"
          placeholder="Search"
          [(ngModel)]="searchValue"
          (ngModelChange)="searchValue = $event"
          (blur)="handleSearchBlur()"
        />
        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <button type="submit" class="hide">Search</button>
      </div>
    </form>
    <a
      href="#!"
      class="sidenav-trigger hide-on-med-and-up"
      (click)="handleMenuClick()"
    >
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" [ngClass]="{ open: isMenuOpen, closed: !isMenuOpen }">
      <li [ngClass]="{ active: isMenuOpen }">
        <form
          class="input-form"
          (ngSubmit)="handleMenuClick(); handleSubmit($event)"
        >
          <div class="input-field">
            <input
              id="search"
              type="search"
              placeholder="Search"
              [(ngModel)]="searchValue"
              (ngModelChange)="searchValue = $event"
              (blur)="handleSearchBlur()"
            />
            <label class="label-icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <button type="submit" class="hide">Search</button>
          </div>
        </form>
      </li>
      <ng-container *ngIf="token">
        <li [ngClass]="{ active: isMenuOpen, wide: true }">
          <a href="/" class="wide" (click)="setLoggedOut()">Log Out</a>
        </li>
        <li class="right hide-on-small-only col s2">
          <a href="/">
            <img
              class="profile-picture"
              src="assets/images/defaultProfilePic.png"
              alt="Profile"
            />
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="!token">
        <li [ngClass]="{ active: isMenuOpen }">
          <div class="wide">
            <a routerLink="/register" class="wide" (click)="handleMenuClick()"
              >Register</a
            >
            <a routerLink="/login" class="wide" (click)="handleMenuClick()"
              >Login</a
            >
          </div>
        </li>
      </ng-container>
    </ul>
    <ul id="nav-mobile" class="right hide-on-small-only col" *ngIf="!token">
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
